<!-- Special Project -->
<section id="special-project">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>"Honorable Mention"</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row video-container">
      <div class="col-md-12">
        <video width="100%" controls>
          <source src="video/dory.webm#t=6,114" type="video/mp4">
        </video>
      </div>
    </div>
    <div class="row project-description">
        <div class="col-md-4 col-md-offset-2 text-right">
            <p>My friend worked for a marketing agency that went into a contract with Disney to promote the upcoming animated film "Finding Dory". They finished the design for the meme generator but was in lack of a developer who could make that happen.</p><p>The deadline was looming, I helped him by building the generator from ground up within 2 days - during the weekend.</p>
        </div>
        <div class="col-md-4">
            <p>ReactJS, jQuery, FileSaver, GifJS, HTML2Canvas, and FabricJS were used. It is by far the most interesting project I've built, and also in the shortest amount of time.</p><p>Hey, Dory fans, feel free to download <a href="img/finding_dory.jpg" target="_new">the wallpaper</a> and <a href="img/finding_dory.gif" target="_new">the meme</a>.</p>
        </div>
    </div>
  </div>
</section>
