<!-- Timeline Section -->
<script>document.getElementsByTagName("html")[0].className += " js";</script>
<section class="cd-h-timeline js-cd-h-timeline" id="history">
    <div class="cd-h-timeline__container container">
      <div class="cd-h-timeline__dates">
        <div class="cd-h-timeline__line">
          <ol>
            <li><a href="#0" data-date="01/04/2016" class="cd-h-timeline__date cd-h-timeline__date--selected">Apr 2016</a></li>
            <li><a href="#0" data-date="01/12/2018" class="cd-h-timeline__date">Dec 2018</a></li>
            <li><a href="#0" data-date="01/09/2020" class="cd-h-timeline__date">Sep 2020</a></li>
            <li><a href="#0" data-date="01/11/2023" class="cd-h-timeline__date">Nov 2023</a></li>
            <li><a href="#0" data-date="01/12/2025" class="cd-h-timeline__date">Present</a></li>
          </ol>

          <span class="cd-h-timeline__filling-line" aria-hidden="true"></span>
        </div> <!-- .cd-h-timeline__line -->
      </div> <!-- .cd-h-timeline__dates -->
        
      <ul>
        <li><a href="#0" class="text-replace cd-h-timeline__navigation cd-h-timeline__navigation--prev cd-h-timeline__navigation--inactive">Prev</a></li>
        <li><a href="#0" class="text-replace cd-h-timeline__navigation cd-h-timeline__navigation--next">Next</a></li>
      </ul>
    </div> <!-- .cd-h-timeline__container -->

    <div class="cd-h-timeline__events">
      <ol>
        <li class="cd-h-timeline__event cd-h-timeline__event--selected text-component">
          <div class="cd-h-timeline__event-content container">
            <h2 class="cd-h-timeline__event-title">Full Stack Developer,<br />Field Trip Health</h2>
            <em class="cd-h-timeline__event-date">Apr 2016 - Nov 2018, Full-time, Local</em>
            <p class="cd-h-timeline__event-description color-contrast-medium"> 
              Started as an intern in the product development department of Field Trip Health, as the result of winning a startup award. Took 2 years to become a junior mobile applications engineer. In year 3, got elevated to the role of full-stack developer overseeing a team of 4 web/mobile developers and 2 designers
            </p>
          </div>
        </li>

        <li class="cd-h-timeline__event text-component">
          <div class="cd-h-timeline__event-content container">
            <h2 class="cd-h-timeline__event-title">Freelancing Developer</h2>
            <em class="cd-h-timeline__event-date">Dec 2018 – Sep 2020, Remote</em>
            <p class="cd-h-timeline__event-description color-contrast-medium">
              Worked on ReactJS, NodeJS and Python projects on short-term contractor roles. Find more on <a href="#project-map">freelanced projects section</a>.
            </p>
          </div>
        </li>

        <li class="cd-h-timeline__event text-component">
          <div class="cd-h-timeline__event-content container">
            <h2 class="cd-h-timeline__event-title">
              Full-stack Engineer,<br/>
              <a href="https://www.rocketdoctor.io" target="_blank">Rocket Doctor</a>
            </h2>
            <em class="cd-h-timeline__event-date">Sep 2020 – Nov 2023, Full-time, Remote</em>
            <p class="cd-h-timeline__event-description color-contrast-medium"> 
              Led 2 products development, successfully landed 2 rounds of venture funding.<br />
              Significant contribution 1: 2FA to protect patient data <br />
              Significant contribution 2: staff management and scheduling feature <br />
              <hr />
              <i>Python, ReactJS, Calendly API, ElasticSearch</i>
            </p>
          </div>
        </li>

        <li class="cd-h-timeline__event text-component">
          <div class="cd-h-timeline__event-content container">
            <h2 class="cd-h-timeline__event-title">
              Senior Software Engineer,<br/>
              <a href="https://www.shoplazza.com" target="_blank">Shoplazza</a>
            </h2>
            <em class="cd-h-timeline__event-date">Nov 2023 – Now, Part-time, Remote</em>
            <p class="cd-h-timeline__event-description color-contrast-medium"> 
              Played a pivotal role in the product development. The current shoplazza's consumer front-end is the coded solely by me. <br />
              <hr />
              <i>Python, ReactJS, ElasticSearch, Google Analytics</i>
            </p>
          </div>
        </li>

        <li class="cd-h-timeline__event text-component">
          <div class="cd-h-timeline__event-content container">
            <h2 class="cd-h-timeline__event-title">Here I am</h2>
            <em class="cd-h-timeline__event-date">Present</em>
            <p class="cd-h-timeline__event-description color-contrast-medium"> 
              While looking for my next job of passion, I am vigorously polishing my skills in ReactJS, NodeJS, Python and GraphQL.
            </p>
          </div>
        </li>

      </ol>
    </div> <!-- .cd-h-timeline__events -->
    <script src="{{ "/js/timeline/util.js" }}"></script>
    <script src="{{ "/js/timeline/swipe-content.js" }}"></script>
    <script src="{{ "/js/timeline/main.js" }}"></script>
  </section>

