<!-- Timeline Section -->
<script>document.getElementsByTagName("html")[0].className += " js";</script>
<section class="cd-h-timeline js-cd-h-timeline" id="history">
  <div class="cd-h-timeline__container container">
    <div class="cd-h-timeline__dates">
      <div class="cd-h-timeline__line">
        <ol>
          <li><a href="#0" data-date="01/10/2013" class="cd-h-timeline__date cd-h-timeline__date--selected">Oct 2013</a>
          </li>
          <li><a href="#0" data-date="01/07/2018" class="cd-h-timeline__date">Jul 2018</a></li>
          <li><a href="#0" data-date="01/07/2019" class="cd-h-timeline__date">Jul 2019</a></li>
          <li><a href="#0" data-date="01/01/2025" class="cd-h-timeline__date">Jan 2025</a></li>
          <li><a href="#0" data-date="01/09/2025" class="cd-h-timeline__date">Present</a></li>
        </ol>

        <span class="cd-h-timeline__filling-line" aria-hidden="true"></span>
      </div> <!-- .cd-h-timeline__line -->
    </div> <!-- .cd-h-timeline__dates -->

    <ul>
      <li><a href="#0"
          class="text-replace cd-h-timeline__navigation cd-h-timeline__navigation--prev cd-h-timeline__navigation--inactive">Prev</a>
      </li>
      <li><a href="#0" class="text-replace cd-h-timeline__navigation cd-h-timeline__navigation--next">Next</a></li>
    </ul>
  </div> <!-- .cd-h-timeline__container -->

  <div class="cd-h-timeline__events">
    <ol>
      <li class="cd-h-timeline__event cd-h-timeline__event--selected text-component">
        <div class="cd-h-timeline__event-content container">
          <h2 class="cd-h-timeline__event-title">Software Engineer,<br />Microsoft</h2>
          <em class="cd-h-timeline__event-date">Oct 2013 - Jul 2018, Full-time, Local</em>
          <p class="cd-h-timeline__event-description color-contrast-medium">
            I was an integral part of the Bing Search development team, contributing to the design,
            implementation, and optimization of core search functionalities and backend services that
            power one of the world’s largest search engines.
          </p>
        </div>
      </li>

      <li class="cd-h-timeline__event cd-h-timeline__event--selected text-component">
        <div class="cd-h-timeline__event-content container">
          <h2 class="cd-h-timeline__event-title">Career Break</h2>
          <em class="cd-h-timeline__event-date">Jul 2018 - Jul 2019, Part-Time, Remote</em>
          <p class="cd-h-timeline__event-description color-contrast-medium">
            Utilized this time for significant personal life events, including marriage.
          </p>
        </div>
      </li>

      <li class="cd-h-timeline__event text-component">
        <div class="cd-h-timeline__event-content container">
          <h2 class="cd-h-timeline__event-title">Senior Software Engineer, <br />Itransition</h2>
          <em class="cd-h-timeline__event-date">Jul 2019 – Jan 2025, Hybrid</em>
          <p class="cd-h-timeline__event-description color-contrast-medium">
            As a Senior Software Engineer, I was instrumental in architecting, developing, and leading
            small teams in the creation of robust software applications for a diverse client portfolio,
            leveraging a full-stack expertise including TypeScript(Next.js, Node.js), Python, Java
          </p>
        </div>
      </li>

      <li class="cd-h-timeline__event text-component">
        <div class="cd-h-timeline__event-content container">
          <h2 class="cd-h-timeline__event-title">
            Frontend Lead,<br />Nearsure
          </h2>
          <em class="cd-h-timeline__event-date">Mar 2025 – Present, Full-time, Remote</em>
          <p class="cd-h-timeline__event-description color-contrast-medium">
            As a Frontend Lead, I contribute to shaping cutting-edge web applications that streamline
            talent acquisition and management processes, utilizing a modern stack including Next.js,
            React and TypeScript, with robust authentication powered by Clerk.
            <hr />
            <i>Python, ReactJS, Next.js, TypeScript, Recharts</i>
          </p>
        </div>
      </li>

      <li class="cd-h-timeline__event text-component">
        <div class="cd-h-timeline__event-content container">
          <h2 class="cd-h-timeline__event-title">Here I am</h2>
          <em class="cd-h-timeline__event-date">Present</em>
          <p class="cd-h-timeline__event-description color-contrast-medium">
            While looking for my next job of passion, I am vigorously polishing my skills in ReactJS, NodeJS, Python and
            GraphQL.
          </p>
        </div>
      </li>

    </ol>
  </div> <!-- .cd-h-timeline__events -->
  <script src="{{ " /js/timeline/util.js" }}"></script>
  <script src="{{ " /js/timeline/swipe-content.js" }}"></script>
  <script src="{{ " /js/timeline/main.js" }}"></script>
</section>